<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  	<servlet-name>CacadeServlet</servlet-name>
  	<servlet-class>com.st.cart.servlet.CacadeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>book</servlet-name>
  	<servlet-class>com.st.cart.servlet.BookServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>cart</servlet-name>
  	<servlet-class>com.st.cart.servlet.CartServlet</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
  	<servlet-name>book</servlet-name>
	<url-pattern>/book</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>CacadeServlet</servlet-name>
	<url-pattern>/cascade</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>cart</servlet-name>
	<url-pattern>/cart</url-pattern>
  </servlet-mapping>
  
  
  <display-name>cart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>